// 共通
.record-details-layout {
  font-size: 0.55rem;
  @include md {
    font-size: 0.85rem;
  }

  .required-icon, .optional-icon {
    display: inline-block;
    float: right;
    margin: 0.5rem 0;
    @include xs {
      display: none;
    }
  }

  label {
    margin: 1rem 0;
  }
}

.remark-field {
  width: 100%;
  height: 5rem;
}
