// 共通
.scroll-message {
  font-size: 0.8rem;
  @include lg {
    display: none;
  }
}

// navbar
.schedule-navbar {
  @include navbarStyle($title-text-color);
  margin: 1.5rem 0;
  font-weight: bold;

  ul {
    @include flexBox(center, center, 0);
  }

  li {
    background: white;
    width: 100%;
    border: 2px solid $title-text-color;
    border-collapse: collapse;

    &:last-child {
      border-left: none;
    }

    a {
      @include flexBox(center, center, 0);
      height: 2.75rem;

      &:hover {
        background-color: $td-theme-color;
        opacity: 0.7;
      }
    }
  }
}

.schedule-button-list {
  @include navbarStyle($blackish-text-color);

  ul {
    @include flexBox(center, center, 0);
  }

  li {
    margin: 0 5vw;

    a {
      width: 100%;
      @include customButtonStyle;
      @include flexBox(center, center, 0);
      height: 2.75rem;

      @include md {
        width: 5rem;
      }
    }
  }
}

// スケジュール表 共通
.scroll-message {
  font-size: 0.8rem;
  @include lg {
    display: none;
  }
}

.schedule-table {
  margin-bottom: 3rem;
  font-size: 0.9rem;
  text-align: center;

  // lg以下のスクロール表示関連
  overflow-x: scroll;
  padding: 0.2rem;
  border: 2px solid $blackish-text-color;
  @include lg {
    padding: 0;
    border: none;
  }

  table {
    width: map-get($breakpoints, lg-min);
    table-layout: fixed;
  }

  th {
    // width指定による表の幅固定
    position: sticky;
    top: 0;
  }
}

// 選択モーダル関連
.schedule-select-field {
  margin-bottom: 2.75rem;
}

#open-select-month-modal {
  cursor: pointer;
}

.select-date-title {
  font-size: 2.25rem;
  text-align: center;
  padding: 1.5rem 0 2rem 0;
}

// day
.day-table {
  tbody {
    border-bottom: 2px dashed gray;

    &:last-child { // 最下columnの点線非表示
      border-bottom: none;
    }

    .col-weight__do-flag, .col-remark { // 点線と白線との重複対策
      border-bottom: none;
    }
  }

  tr {
    border: none; // 白線によるレイアウト崩れ対策
  }

  th, td {
    border: 1px solid $whitish-text-color;
  }
}

.day-col { // weight,cardio共通CSS
  &__do-flag, &__edit, &__delete {
    width: 6%;
  }

  &__remark {
    word-break: break-all;
  }
}

.day-col-weight { // 無酸素運動のカラムのみ
  &__workout {
    width: 82%;
  }
}

.day-col-cardio { // 有酸素運動のカラムのみ
  &__workout {
    width: 46%;
  }

  &__time, &__intensity {
    width: 18%;
  }
}

// month
.month-table {
  table-layout: fixed;
}

.month-col {
  &__do-flag, &__edit, &__delete {
    width: 6%;
  }

  &__date {
    width: 16%;
  }

  &__workout {
    width: 36%;
  }

  &__contents, &__time {
    width: 27%;
  }

  &__weight, &__rep, &__set {
    width: 9%;
  }
}
