.login-form-wrapper {
  padding-left: 5vw;
}

.user-form-item {
  margin-bottom: 2rem;
  &__label {
    width: 100%;
  }
  &__text-input {
    width: 15rem;
    @include md {
      width: 20rem;
    }
  }
}
