<h1><%= t("schedules.header.title") %></h1>
<div class="schedule-navbar">
  <ul>
    <li><%= link_to t("schedules.header.day_switch_link"), schedule_day_path %></li>
    <li><%= link_to t("schedules.header.month_switch_link"), schedule_month_path %></li>
  </ul>
</div>
