<h1><%= @user.name %>さんのスケジュール</h1>

<i class="fa fa-check-circle"></i>

<%= render partial: "date_details", locals: { records: @today_records, text: "本日" } %>
<%= render partial: "date_details", locals: { records: @tomorrow_records, text: "翌日" } %>