<h1><%= @user.name %>さんのスケジュール</h1>

<button class="schedule-table-switch" value="date">前後3日間</button>
<button class="schedule-table-switch" value="month">月ごと</button>

<div id="schedule-details"></div>