<h1><%= t("homes.account_deleted_notification.title_1") %></h1>
<h2><%= t("homes.account_deleted_notification.title_2") %></h2>
<%= link_to t("homes.account_deleted_notification.top's_link"), root_path %>