<div class="account-deleted-wrapper">
  <h1><%= t("homes.account_deleted_notification.h1") %></h1>
  <p><%= t("homes.account_deleted_notification.text") %></p>
  <%= link_to t("homes.account_deleted_notification.top's_link"), root_path %>
</div>
