<h1>ログイン</h1>
<%= form_tag do %>
  <table border="1">
    <tr>
      <th>メールアドレス</th>
      <td><input name="email"></td>
    </tr>
    <tr>
      <th>パスワード</th>
      <td><input name="password"></td>
    </tr>
  </table>
  <input type="submit" value="ログイン">
<% end %>