// レスポンシブ
@mixin xs {
  @media screen and (max-width: map-get($breakpoints, xs-max)) {
    @content;
  }
}

@mixin md {
  @media screen and (min-width: map-get($breakpoints, md-min)) {
    @content;
  }
}

@mixin lg {
  @media screen and (min-width: map-get($breakpoints, lg-min)) {
    @content;
  }
}

// 部品
@mixin xsSizeOnly {
  display: inherit;
  @include md {
    display: none;
  }
}

@mixin xsSizeHidden {
  display: none;
  @include md {
    display: inherit;
  }
}

@mixin buttonStyleReset {
  appearance: none;
  background-color: transparent;
  border: none;
  outline: none;
}

@mixin customButtonStyle {
  background-color: white;
  color: $blackish-text-color;
  padding: 0.25rem 0.6rem;
  border: 1px solid black;
  border-radius: 0.25rem;
  &:hover {
    background: lightgray;
    opacity: 0.9;
  }
}

@mixin flexBox($justify: 0, $align: 0, $column: 0) {
  display: flex;
  @if($justify) { // 水平方向
    justify-content: $justify;
  }
  @if($align != 0) { // 垂直方向
    align-items: $align;
  }
  @if($column != 0) { // 縦並び
    flex-direction: $column;
  }
}

@mixin textIcon {
  background: white;
  border-radius: 0.35rem;
  padding: 0.2rem 0.55rem;
  margin-left: 1rem;
  font-size: 0.85rem;
  font-weight: bold;
}

@mixin navbarStyle($font-color) {
  ul {
    padding: 0;
    list-style: none;
  }

  a {
    &:hover {
      text-decoration: none;
    }

    &:link, &:visited, &:hover, &:active {
      color: $font-color;
    }
  }
}
