// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#user-delete-button {
  cursor : pointer;
}

#delete-modal {
  display: none;
}

#revert-image-button {
  cursor : pointer;
}

#revert-image-modal {
  display: none;
}